{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<div class="container-fluid mt-3">
    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Your Cart</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td><img style="height:80px" src="{{product.image.url}}"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th>Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>
        </table>
        <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#checkout"
                class="btn btn-outline-light border rounded  col-lg-3" style="float: right; color: #000;">Check
                out</a>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="checkout" tabindex="-1" aria-labelledby="checkoutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkoutLabel">Check Out Form</h5>
                <hr>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="m-2 p-3">
                    <form action="/check-out" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder=""
                                aria-describedby="helpId">
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Address</label>
                            <input type="text" name="address" id="address" class="form-control" placeholder=""
                                aria-describedby="helpId">
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Phone</label>
                            <input type="text" name="phone" id="phone" class="form-control" placeholder=""
                                aria-describedby="helpId">
                        </div>

                        <input type="submit" class="btn btn-outline-light border rounded col-lg-6"
                            style="float: right; color: #000;" value="Check out">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}